//
//  CSPIRVTools.xcconfig
//  CSPIRVTools
//
//  Created by Stuart Carnie on 22/1/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_DIR=$(PROJECT_DIR)
THIRD_DIR=$(BASE_DIR)/3rdparty

SPIRV_TOOLS_BASE=$(THIRD_DIR)/SPIRV-Tools
SPIRV_TOOLS_PREPROCESSOR=SPIRV_CHECK_CONTEXT SPIRV_COLOR_TERMINAL SPIRV_MAC
SPIRV_TOOLS_HEADERS=$(SPIRV_TOOLS_BASE) $(SPIRV_TOOLS_BASE)/include $(PROJECT_DIR)/$(PRODUCT_NAME)/ext $(PROJECT_DIR)/$(PRODUCT_NAME)/SPIRV-Headers/include

USER_HEADER_SEARCH_PATHS=$(inherited) $(SPIRV_TOOLS_HEADERS)
GCC_PREPROCESSOR_DEFINITIONS=$(inherited) $(SPIRV_TOOLS_PREPROCESSOR)

MODULEMAP_FILE=$(SRCROOT)/$(PRODUCT_NAME)/include/module.modulemap
